@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{--font-family: "Inter", sans-serif;}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    font-size: 100%;
}
body{
    background-color: #FCFBFF;
    font-family: var(--font-family);
    height: 300vh;
}
.contain{
    max-width: 1022px;
    margin: 0 auto;
}
/* 
---------------------------
PRIMER ITEM: HEADER
---------------------------
*/
.total-header{
    width:100%;
    height: 72px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}
.menu-header{
    max-width: 900px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    padding: 16px;
}
.options-left{
    display: inline-flex;
    align-items: center;
    gap:10px;
    padding: 6px 24px;
    border: 1px solid transparent;
}
.option-left{
    padding: 6px 24px;
    border: 1px solid transparent;
}

.option-left:hover:not(img){
    color: #360c72;
    background-color:#e4d7ff;
    padding: 6px 24px;
    border-radius: 50px;
    border: 1px solid #e4d7ff;
}

.options-right{
    gap:12px;
}
.option-right:first-child{
    color: #652BDF;
    border: 1px solid #652BDF;
    padding: 6px 24px;
    border-radius: 50px;
}
 .option-right:first-child:hover {
    border: 1px solid #360c72;
    background-color: #e4d7ff;
    color: #360c72;
} 
.option-right:last-child{
    background-color: #652BDF;
    color: white;
    padding: 6px 24px;
    border-radius: 50px;
}
.option-right:last-child:hover{
    background-color: #e4d7ff;
    color: #360c72;
    border:1px solid #360c72;
}
.symbol-mobile{
    display: none;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}
/* 
---------------------------
HEADER-DESKTOP AND MOBILE
---------------------------
*/

@media screen and (max-width: 990px) {
    .menu-header {
        justify-content: space-between;
        position: relative;
    }
    .hamburger {
        display: block;
    }

    .options-left {
        display: none;
    }

    .options-right {
        display: none;
    }

    .symbol-mobile {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* 
---------------------------
SEGUNDO ITEM: CARDS
---------------------------
*/
.title{
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 8px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #2b2b2b;
}
.container-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:16px;
}
.card{
    max-width: 268px;
    width: 100%;
    height: 254px;
    padding:24px;
    border-radius: 16px;
    background-color: white;
    margin-top: 12px;
    gap:12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition-duration: 0.3s;
    z-index: 5;
    flex-grow: 1;
    flex: 1 1 300px;
}
.card:hover{
    transform: translateY(-6px);
}

.card span{
    color: #652BDF;
}
.card:hover span{
    color:#360c72;
}
.card-i{
    max-width: 48px;
    width: 100%;
    height: 48px;
    background-color: #f0eafc;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card-text h2{
    font-size: 24px;
    color: #2b2c2b;
    margin: 0;
    font-weight: 600;
}
.icon{
    width: 24px;
    height: 24px;
}
.card-text p{
    color: #6a6a6a;
    font-size: 18px ;
    gap:16px;
    inline-size: 258px;
    font-weight: 100 900;
}
/*
---------------------------
CARDS-MOBILE
---------------------------
*/
@media screen and (max-width:765px){
    body {
        height: 500vh;
    }
    
    .title {
        font-weight: 700;
        font-size: 30px;
    }
    .container-card {
        display: flex;
        flex-direction: column;
        gap:8px;
        padding: 16px;
    }
    .card {
        width: 100%;
        gap: 16px;
        padding: 24px;
        max-width: 765px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 194px;
    }
    .card:hover{
    transform: none;
}
    .card-i{
        max-width: 62px;
        width: 100%;
        height: 62px;
    }
    .card-text p{
        font-size: 16px;
        width: 90%;

    }
}
/* 
---------------------------
ITEM 3: BANNER
---------------------------
*/

.container-banner{
    width: 100%;
    height: 134px;
    background-color: #E2D2FF;
    padding: 32px 40px;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin-top: 50px;
    margin-bottom: 40px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #360c72;
}
.title-banner{
    color: #360c72;
    font-size: 30px;
    font-weight: 600;
}
.span-banner{
    font-size: 18px;
}
.button-banner{
    background-color: white;
    color: #652BDF;
    font-weight: 700;   
    padding: 10px 32px;
    border-radius: 50px;
}
.button-banner:hover{
    color: #E2D2FF;
    background-color:black;
}

@media screen and (max-width:765px) {
    .container-banner{
        display: flex;
        flex-direction: column;
        padding: 32px 40px;
        
        max-width: 1022px;
        width: calc(100% - 48px);
        margin: 0 auto;
        height: auto;

        gap: 24px;
    }
    .button-banner {
        width: 100%;
        text-align: center;
    }
}
/* 
---------------------------
CUARTO ITEM: PAY
---------------------------
*/

.h2-pay{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #2b2b2b;
}
.box-pay{
    width: 100%;
    max-width: 1022px;
    height: auto;
    background-color: white;
    border-radius: 32px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    overflow: hidden;
}
.qr-photo{
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 50%;
    z-index: 4;
    max-width:475px;
    max-height: 325px;
    width: 100%;
    height: 100%;
}
.qr-photo:hover{
    transform: scale(1.05);
}
.pay-left{
    flex: 1;              
    max-width: 500px;      
    padding: 50px 0px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
}
.posnet-photo{
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 50%;
    z-index: 2;
    max-width:475px;
    max-height: 325px;
    width: 100%;
    height: 100%;
}
.posnet-photo:hover{
    transform: scale(1.05);
}
.pay-left h2{
    font-size: 24px;
    color: #2b2b2b;
}
.pay-left p{
    font-size: 18px;
    font-weight: 400;
    color: #2b2b2b;
    line-height: 1.5;     
    max-width: 415px;      
    height: auto;
    inline-size: auto;
}


.pay-right{
    display: flex;
    padding: 50px 22px;
    height: 100%;
    gap: 21px;
    flex-direction: column;
    justify-content: center;
}

.pay-right h2{
    font-size: 24px;
    color: #2b2b2b;
}
.pay-right p{
    font-size: 18px;
    width: 90%;             
    max-width: 500px;       
    height: auto;
    font-weight: 400;
    color: #2b2b2b;
    word-break: break-word;
}
.pay-more{
    display: flex;
    align-items: center;
    color: #360c72;
    font-weight: 700;
}
.pay-more:hover{
    color: #652BDF;
    cursor: pointer;
}
.pay-more-text:hover{
    text-decoration: underline;
}

@media screen and (max-width:765px) {
    .payment{
        display: flex;
        flex-direction: column;
    }
    .box-pay {
        display: flex;
        flex-direction: column;

        background-color: white;

        max-width: 1022px;
        width: calc(100% - 48px);
        height: auto;

        margin: 0 auto;
        gap:8px;
    }
    .pay-left {
        padding: 32px 24px 16px 24px; 
        max-width: 100%;
    }

    .pay-right {
        padding: 32px 24px 16px 24px;
        width: 100%;
    }

    .qr-photo,
    .posnet-photo {
        width: 100%;
        height: auto; 
        max-width: 100%;
        max-height: none;
    }
    .qr-photo{
        order: 1;
    }
    .qr-photo:hover{
    transform: none;
}
.posnet-photo:hover{
    transform: none;
}
    .pay-left{
        order: 2;
    }
    .pay-left p, .pay-right p{
        max-width: 1022px;
        width: 100%;
    }
    .pay-right h2{
        font-weight: 600;
    }
    
    
    
}
/* 
---------------------------
QUINTO ITEM: Footer
---------------------------
*/
.footer-box {
    background-color: white;
     width: 100%;
     width: 100vw;
     margin-left: calc(-50vw + 50%);
    margin-top: 50px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   padding: 30px;
   max-width: 1022px;
   width: 100%;
   margin: 0 auto;
}
.footer-column{
    display: flex;
    flex-direction: column;
    gap:16px

}
.footer-title {
    font-weight: 700;
}
.footer-link:hover {
    text-decoration: underline;
    color: #652BDF;
    cursor: pointer;
}
@media screen and (max-width:765px) {
    .footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    max-width: 1022px;
    width: 100%;
    margin: 0 auto;
    row-gap: 20px;
    }
}
